.profile {
  text-align: center;
  background-color: cornsilk;
}
.avatar {
  display: block;
  border-radius: 50%;
  width: 70%;
  margin: 10px auto;
}

.name {
  margin: 0;
  font-weight: bold;
}
.tag {
  margin: 0;
  margin-top: 10px;
  font-style: italic;
}
.location {
  margin: 0;
  margin-top: 10px;
  color: cadetblue;
}

.stats {
  margin: 10px 0 0 0;
  padding-left: 0px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  color: brown;
}
.stats li {
  padding: 10px;
  background-color: #fb8;
  flex-grow: 1;
  border: 1px solid #fd8;
}
.label {
  display: block;
}
.quantity {
  display: block;
}
