.statistics {
  border: 1px solid #bbb;
}
.title {
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}
.statList {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
  padding-top: 10px;
}
.item {
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #eee;
}
.label {
  display: block;
  font-weight: lighter;
}
.percentage {
  display: block;
  font-weight: bolder;
}
